$font-primary: system-ui;
$gradient: linear-gradient(135deg, #383d46 5%, #13191e 35%, #0c121c 100%);
$primary-radius: 8px;

// Font sizes
$heading-font-size: 20px;
$pricing-font-size: 34px;
$small-font-size: 15px;

// Colors
$primary-text-color: #ededed;
$secondary-text-color: #c0c0c0;

// Background color
$primary-bg-color: #363639;
$primary-border-color: #444447;

// Icons
$icon-size: 20px;
$icon-color: #fff;
